<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Member Condition List</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 6px;
        }
    </style>
</head>
<body style="margin: 50px;">
    <h1>Member Condition List</h1>
    <hr>
    <table>
        <tr>
            <th>ID</th><th>Name</th><th>Age</th><th>Country</th>
        </tr>
        <tr th:each="member : ${memberList}">
            <td th:style="${member.mid % 2 == 0 ? 'color: red' : 'color: blue'}">[[${member.mid}]]</td>

            <td th:if="${memberStat.first}" style="background: yellow">[[${member.name}]]</td>
            <td th:unless="${memberStat.first} or ${memberStat.last}" style="background: beige">[[${member.name}]]</td>
            <td th:if="${memberStat.last}" style="background: cyan">[[${member.name}]]</td>

            <td th:if="${member.age >= 20}" style="color: red">[[${member.age}]]</td>
            <td th:if="${member.age < 20}" style="color: blue">[[${member.age}]]</td>

            <td th:if="${member.country == '한국'}" style="background: orange">[[${member.country}]]</td>
            <td th:if="${member.country == '미국'}" style="background: skyblue">[[${member.country}]]</td>
            <td th:unless="${member.country == '한국'} or ${member.country == '미국'}" style="background: beige">[[${member.country}]]</td>
        </tr>
    </table>
</body>
</html>